doctype html  
html(lang="en")  
  head
    title JobBoard
  body
    h1 JobBoard
    hr
    a(href="/") Home
    span  | 
    a(href="/PostJob") Post Job
    span  | 
    a(href="/SignIn") JobSeekerSignIn 
    span  |
    a(href="/RegisterUser") JobSeekerSignUp 
    section(ng-view)