doctype html  
html(lang="en")  
  head
    title JobBoard
  body
    h1 JobBoard
    hr
    a(href="/") Home
    if(type=="error")
            h3(style="color:red") #{message}
        else
            h3 New person firstName: #{person.firstName}, lastName: #{person.lastName}  added!